<style>
    .spinner {
        width: 100px;
        height: 100px;
        border: 10px solid var(--linkHoverColor);
        border-top-color: var(--linkColor);
        border-radius: 50%;
        animation: spin 0.8s linear infinite;
    }

    @keyframes spin {
        to {
            transform: rotate(360deg);
        }
    }

    .index-landing h1 {
        margin: var(--contentGap) 0;
    }

    .spinner-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        transition: all 0.3s ease;
        opacity: 0;
        backdrop-filter: blur(0);
    }
    .spinner-container.active {
        opacity: 1;
        backdrop-filter: blur(100px);
    }
</style>
<div class="spinner-container active">
    <div class="spinner" aria-hidden="true"></div>
</div>
<section class="index-landing">
    <div class="width-control">
        <div class="content-container">
            <h1>Welcome To My Website!</h1>
            <p>This is my website!</p>
        </div>
    </div>
</section>