<script 
    src="{{ site.baseurl }}/assets/scripts/google-tag-manager.js"
>
(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TM2VK3CN');
</script>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{ site.meta_description }}">

<link
    rel="preload"
    href="{{ site.baseurl }}/assets/styles.css"
    as="style"
    onload="this.onload=null;this.rel='stylesheet'"
>
<noscript>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/styles.css" media="all">  
</noscript>

<title>{{ page.title | default: site.title }}</title>