<nav>
    <div class="width-control">
        <img
            class="logo"
            src="{{ site.baseurl }}/assets/images/site-logo.png"
            width="20"
            height="auto"
        >
        <ul class="links-list">
            <li>
                <a href="{{ site.baseurl }}/">
                    home
                </a>  
            </li>
            <li>
                <a href="{{ site.baseurl }}/contact.html">
                    contact
                </a>
            </li>
        </ul>
    </div>
</nav>