<nav class="navigation-bar">
    <div class="width-control">
        <div class="content-container">
            <ul class="nav-left-content">
                <li class="mobile-menu-toggle-container">
                    <button 
                        class="mobile-menu-toggle" 
                        aria-label="Mobile Menu Toggle"
                        data-element-type="hamburger-menu-toggle"
                    >
                        {% include icons/hamburger-menu %}
                        {% include icons/x-close-mark %}
                        </svg>
                    </button>
                </li>
                <li class="nav-left-li">
                    <img
                        class="logo"
                        src="{{ site.baseurl }}/assets/images/site-logo-nav.webp"
                        width="40"
                        height="40"
                        alt="Site Logo"
                        data-element-type="site-logo"
                        fetchpriority="high"
                    >
                </li>
            </ul>
            <div class="menu-wrapper">
                <ul class="links-list">
                    <li>
                        <a 
                            href="{{ site.baseurl }}/"
                            data-element-type="home"
                        >
                            home
                        </a>  
                    </li>
                    <li>
                        <a 
                            href="{{ site.baseurl }}/about-me.html"
                            data-element-type="about-me"
                        >
                            about me
                        </a>
                    </li>
                    <li>
                        <a 
                            href="{{ site.baseurl }}/portfolio.html"
                            data-element-type="portfolio"
                        >
                            portfolio
                        </a>
                    </li>
                    <li>
                        <a 
                            href="{{ site.baseurl }}/coding-languages.html"
                            data-element-type="coding-languages"
                        >
                            coding languages
                        </a>
                    </li>
                    <li>
                        <a 
                            href="javascript: Cookiebot.renew()"
                            data-element-type="cookies"
                        >
                            cookies
                        </a>  
                    </li>
                </ul>
            </div>
            <button 
                class="nav-contact-btn"
                data-element-type="email-contact-button"
            >
                {% include icons/envelope %}
            </button>
        </div>
    </div>
</nav>