<nav>
    <div class="width-control">
        <div class="content-container">
            <button class="mobile-menu-toggle">
                <svg 
                    class="hamburger-menu"
                    src="{{ site.baseurl }}/assets/icons/bars-duotone-light-full.svg">
                </svg>
            </button>
            <img
                class="logo"
                src="{{ site.baseurl }}/assets/images/site-logo-nav.png"
                width="40"
                height="40"
                alt="Site Logo"
            >
            <div class="menu-wrapper">
                <ul class="links-list">
                    <li>
                        <a href="{{ site.baseurl }}/">
                            home
                        </a>  
                    </li>
                    <li>
                        <a href="{{ site.baseurl }}/contact.html">
                            info
                        </a>
                    </li>
                    <li>
                        <a href="javascript: Cookiebot.renew()">
                            cookies
                        </a>  
                    </li>
                </ul>
            </div>
            <button>
                contact
            </button>
        </div>
    </div>
</nav>