:root {
    --navHeight: 50px;
    --backgroundColor: rgb(55, 9, 123);
    --bodyText: antiquewhite;
    --linkColor: lawngreen;
    --linkHoverColor: cadetblue;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto;
    background: var(--backgroundColor);
    color: var(--bodyText);
}

a {
    color: var(--linkColor);
    text-decoration: none;
    text-transform: capitalize;
}

a:hover {
    color: var(--linkHoverColor);
    text-decoration: underline;
}

nav,
section,
div,
footer {
    width: 100%;
}

.width-control {
    max-width: 1200px;
}

nav,
.width-control,
nav .links-list {
    display: flex;
}

nav {
    justify-content: center;
}

nav {
    height: var(--navHeight);
    background: black;
}

nav .links-list {
    list-style: none;
}