* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Roboto;
    background: rgb(55, 9, 123);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.width-control {
    width: 100%;
    max-width: 1200px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
}