* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto;
    background: rgb(55, 9, 123);
    color: antiquewhite;
    flex-direction: column;
    align-items: center;
}

a {
    color: lawngreen;
    text-decoration: none;
    text-transform: capitalize;
}

a:hover {
    color: cadetblue;
    text-decoration: underline;
}

nav,
section,
div,
footer {
    width: 100%;
}

.width-control {
    max-width: 1200px;
}

body,
nav,
.width-control,
nav .links-list {
    display: flex;
}

.width-control {
    justify-content: center;
}

nav .links-list {
    list-style: none;
}